<!DOCTYPE html>
<html lang="cs">

<head>
    <%- include("../partials/head") %>
</head>

<body id="page-top">

<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <%- include("../partials/navbar") %>
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-auto">
                        <h1 class="h3 mb-0 text-gray-800">Detail kontaktu</h1>
                    </div>
                    <div class="col-auto ml-auto">
                        <a href="/contacts/">
                            <button class="btn btn-primary" type="button">Zpět na seznam kontaktů</button>
                        </a>
                        <a href="/contacts/<%= contact._id %>/edit">
                            <button class="btn btn-primary" type="button">Upravit</button>
                        </a>
                    </div>
                </div>

                <%- include("../partials/flash") %>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Základní údaje</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="name">Jméno</label>
                                            <br>
                                            <% if(contact.name){ %>
                                                <b><%= contact.name %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="surname">Příjmení</label>
                                            <br>
                                            <% if(contact.surname){ %>
                                                <b><%= contact.surname %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="birthday">Datum narození</label>
                                            <br>
                                            <% if(contact.birthday){ %>
                                                <b><%= contact.birthday %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="email">Email</label>
                                            <br>
                                            <% if(contact.email){ %>
                                                <b><%= contact.email %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="phone">Telefon</label>
                                            <br>
                                            <% if(contact.phone){ %>
                                                <b><%= contact.phone %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Adresa</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="mb-3">
                                            <label for="street">Ulice</label>
                                            <br>
                                            <% if(contact.street){ %>
                                                <b><%= contact.street %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mb-3">
                                            <label for="house_number">Č. p.</label>
                                            <br>
                                            <% if(contact.house_number){ %>
                                                <b><%= contact.house_number %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="city">Město</label>
                                            <br>
                                            <% if(contact.city){ %>
                                                <b><%= contact.city %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="postcode">PSČ</label>
                                            <br>
                                            <% if(contact.postcode){ %>
                                                <b><%= contact.postcode %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="country">Stát</label>
                                            <br>
                                            <% if(contact.country){ %>
                                                <b><%= contact.country %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Zaměstnání</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="position">Pozice</label>
                                            <br>
                                            <% if(contact.position){ %>
                                                <b><%= contact.position %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="company">Společnost</label>
                                            <br>
                                            <% if(contact.company){ %>
                                                <b><%= contact.company %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="department">Oddělení</label>
                                            <br>
                                            <% if(contact.department){ %>
                                                <b><%= contact.department %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Poznámka</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="note">Poznámka</label>
                                            <br>
                                            <% if(contact.note){ %>
                                                <b><%= contact.note %> </b>
                                            <% } else{ %>
                                                <i>Nevyplněno</i>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../partials/footer") %>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<%- include("../partials/scripts") %>

</body>

</html>